@import "undo-redo.css";
@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css");
*, ::before, ::after {
  color: var(--fgc);
  color: var(--fg);
  font-family: var(--font);
}

:root {
  --dark: #1e1e1e;
  --mid: #2e2e2e;
  --blue-one: #2ac9b6;
  --blue-two: #756ce7;
  --gradient: linear-gradient(90deg, var(--blue-one), var(--blue-two));
  --gradient-v: linear-gradient(180deg, var(--blue-one), var(--blue-two));
  --font: "Fira Sans", sans-serif;
  --mono-font: "Fira Code", monospace;
  --bg: var(--dark);
  --fg: white;
  --accent: var(--blue-two) ;
}

@supports (font-variation-settings: normal) {
  :root {
    --mono-font: "Fira Code VF", monospace;
  }
}
html, body {
  background: var(--bg);
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
}

body {
  display: flex;
  flex-direction: column;
  font-size: min(var(--font-adjust, 1rem), var(--font-percent-adjust, 3vw));
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-index {
  display: grid;
  place-items: center;
  --font-adjust: 2rem;
  --font: var(--mono-font);
  --fg: --text;
  --bg: #1E1D27;
  --text: #C9C9D2;
  --d: #000000;
  --dl: #2C2C3C;
  --rc: color(display-p3 calc(193/255) calc(0/255) calc(68/255));
  --r: #D30041;
  --rlc: color(display-p3 calc(243/255) calc(63/255) calc(108/255));
  --rl: #FF206A;
  --g: #4AA45A;
  --glc: color(display-p3 calc(71/255) calc(178/255) calc(71/255));
  --gl: #00B533;
  --y: #A6A651;
  --ylc: color(display-p3 calc(229/255) calc(229/255) calc(75/255));
  --yl: #E5E501;
  --b: #2F3869;
  --blc: color(display-p3 calc(112/255) calc(148/255) calc(255/255));
  --bl: #6695FF;
  --m: #6E2F9F;
  --mlc: color(display-p3 calc(159/255) calc(90/255) calc(246/255));
  --ml: #AA56FF;
  --c: #90A7FB;
  --clc: color(display-p3 calc(104/255) calc(226/255) calc(227/255));
  --cl: #00E5E5;
  --w: #BFBFBF;
  --wlc: color(display-p3 calc(209/255) calc(208/255) calc(216/255));
  --wl: #D1D0D9;
}
.page-index section {
  width: max-content;
  --startup: 0.3s;
  --time: 0.15s;
}
.page-index section::before {
  animation: typing var(--time) ease-in-out var(--startup) both;
  content: "[" var(--dir) "]";
  --fgc: var(--blc);
  --fg: var(--bl);
}
.page-index section h1 {
  display: inline;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}
.page-index section > h1::before {
  animation: typing var(--time) ease-in-out var(--startup) both;
  content: "$ ";
  font-weight: bold;
  --fg: var(--g);
}
.page-index section > h1 > i {
  animation: typing var(--time) ease-in-out calc(var(--startup) + var(--time) + var(--t) * var(--time)) both;
}
.page-index section main {
  user-select: none;
  --m-startup: calc(var(--startup) + var(--time) + var(--chars) * var(--time));
}
.page-index section main > h1 {
  animation: typing var(--time) ease-in-out var(--m-startup) both;
}
.page-index section main > h1 u:nth-child(3) {
  margin-right: 1ch;
}
.page-index section main p {
  animation: typing var(--time) ease-in-out calc(var(--m-startup) + var(--time) + var(--time) * var(--l)) both;
}
.page-index section main p.d::before {
  font-weight: bold;
  content: "d";
  --fg: var(--b);
}
.page-index section main p::before {
  content: ".";
  --fg: var(--w);
}
.page-index section main p.r :is(:nth-child(1), :nth-child(2), :nth-child(3))::before {
  content: "r";
  --fg: var(--y);
}
.page-index section main p b:is(:nth-child(1), :nth-child(2), :nth-child(3)) {
  --fg: var(--rl);
  --fgc: var(--rlc);
}
.page-index section main p:is(.x, .ux) :is(:nth-child(1), :nth-child(2), :nth-child(3))::after {
  content: "x";
  --fg: var(--g);
}
.page-index section main p.ux :nth-child(1)::after {
  text-decoration: underline;
}
.page-index section main p :is(:nth-child(1), :nth-child(2), :nth-child(3)) {
  --fg: var(--w);
  font-weight: normal;
  content: "-";
}
.page-index section main p :is(:nth-child(1), :nth-child(2), :nth-child(3))::before {
  font-weight: normal;
  content: "-";
  --fg: var(--w);
}
.page-index section main p :is(:nth-child(1), :nth-child(2), :nth-child(3))::after {
  font-weight: normal;
  content: "-";
  --fg: var(--w);
}
.page-index section main p.r :nth-child(1)::before {
  font-weight: bold;
}
.page-index section main p b:nth-child(1) {
  font-weight: bold;
}
.page-index section main p:is(.x, .ux) :nth-child(1)::after {
  font-weight: bold;
}
.page-index section main p :nth-child(3)::after {
  margin-right: 2ch;
}
.page-index section main p :nth-child(4) {
  display: inline-block;
  text-decoration: none;
  width: 4ch;
  text-align: right;
  margin-right: 1ch;
  --fg: var(--w);
}
.page-index section main p :is(b, u):nth-child(4) {
  font-weight: bold;
  --fg: var(--g);
}
.page-index section main p u:nth-child(4)::after {
  font-weight: normal;
  content: "k";
}
.page-index section main p :nth-child(5) {
  --fg: var(--b);
  --fgc: var(--blc);
}
.page-index section main p :nth-child(5)::before {
  content: "bryce";
  margin-right: 1ch;
  font-weight: bold;
  --fg: var(--y);
}
.page-index section main p :nth-child(5)::after {
  content: "--";
  margin-left: 3ch;
  margin-right: 1ch;
  --fg: var(--w);
}
.page-index section main p :nth-child(5).i::after {
  content: "-I";
}
.page-index section main p :nth-child(6) {
  user-select: text;
}
.page-index section main p :nth-child(6).g {
  --fg: var(--g);
  --fgc: var(--glc);
}
.page-index section main p :nth-child(6).y {
  --fg: var(--y);
  --fgc: var(--ylc);
}
.page-index section main p :nth-child(6).b {
  --fg: var(--b);
  --fgc: var(--blc);
}
.page-index section main p u:nth-child(6) {
  font-weight: bold;
}
.page-index p {
  margin: 0;
}
.page-index i {
  font-style: normal;
}
.page-index ::selection {
  background: #501575;
}

.ascii {
  --bg: white;
  --fg: rebeccapurple;
  --font: var(--mono-font);
  display: grid;
  place-items: center;
  font-size: clamp(1em, min(5vw, 7vh), 3.5em);
  line-height: 1;
}
.ascii > div {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 0.2em repeat(16, 1fr);
  grid-template-rows: 1fr 0.2em repeat(8, 1fr);
}
.ascii > div > div.sep {
  width: 100%;
  height: 100%;
  background: var(--fg);
  border-radius: 100vw;
}
.ascii > div > div.sep:nth-of-type(1) {
  grid-column: 2;
  grid-row: 1/span 10;
}
.ascii > div > div.sep:nth-of-type(2) {
  grid-row: 2;
  grid-column: 1/span 18;
}
.ascii > div > .space {
  grid-column: 1;
  grid-row: 1;
}
.ascii > div > .top {
  grid-row: 1;
}
.ascii > div > .side {
  grid-column: 1;
}

.page-card {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 1.5em;
  --font-adjust: 2rem;
  --font-percent-adjust: 7vw;
}
.page-card > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  width: min(90%, 25ch);
  --bar-height: 0.2em;
  margin-top: var(--bar-height);
  max-height: 5em;
  text-align: center;
  padding: 0.5em;
  --adjust-radius: 0.1em;
  border: var(--adjust-radius) solid var(--mid);
}
.page-card > a::before {
  content: "";
  position: absolute;
  background: var(--gradient);
  width: calc(100% + var(--adjust-radius, 0) * 2);
  height: var(--bar-height);
  left: calc(-1 * var(--adjust-radius, 0));
  top: 0;
  transform: translateY(-100%);
}
.page-card .title > div:first-of-type {
  font-size: 1.5em;
  --fg: var(--blue-one);
}
.page-card .title > div:last-of-type {
  font-size: 0.65em;
}

@media print {
  .page-resume {
    display: block !important;
    background: white !important;
  }
  .page-resume > div {
    width: 100% !important;
    height: 100% !important;
  }
}
.page-resume {
  display: grid;
  place-items: center;
  background: var(--dark);
  font-size: 1rem;
}
.page-resume > div {
  width: 8.5in;
  height: 11in;
  padding: 1em 0.3333333333in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --bg: white;
  background: var(--bg);
  --fg: var(--dark);
  font-size: 0.84rem;
  font-weight: 300;
}
.page-resume > div h1, .page-resume > div h2 {
  text-align: center;
}
.page-resume > div h1 {
  font-size: 1.6em;
  font-weight: 300;
  --fg: var(--blue-two);
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 -0.1em;
  letter-spacing: 0.1em;
}
.page-resume > div .small-line, .page-resume > div .large-line {
  width: 100%;
  height: 0.1em;
  background: var(--gradient);
  border-radius: 100vmax;
}
.page-resume > div .large-line {
  height: 0.2em;
}
.page-resume > div .contact-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  align-items: center;
  justify-items: right;
  text-align: right;
  column-gap: 0.5em;
  margin: 0.5em 0 0;
  --img-margin: 0.1em;
}
.page-resume > div .contact-items .right {
  justify-self: left;
  text-align: left;
}
.page-resume > div .contact-items .right img {
  margin: 0 var(--img-margin) 0 0;
}
.page-resume > div .contact-items img {
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  transform: translateY(0.14em);
  margin: 0 0 0 var(--img-margin);
}
.page-resume > div h2 {
  font-size: 1em;
  font-weight: 600;
  margin: 0.5em 0 0;
  line-height: 1;
  text-transform: uppercase;
  --fg: var(--blue-two);
  letter-spacing: 0.1em;
}
.page-resume > div p {
  margin: 0;
  text-align: justify;
}
.page-resume > div span, .page-resume > div .split {
  font-size: 1em;
  font-weight: 400;
  --fg: var(--blue-two);
  margin: 0.4em 0 0.1em;
  line-height: 1;
}
.page-resume > div .education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.page-resume > div .split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-resume > div .split a {
  font-style: italic;
}
.page-resume > div ul {
  list-style: none;
  margin: 0.4em 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.page-resume > div ul li:not(:last-of-type)::after {
  content: "<~>";
  font-family: var(--mono-font);
  color: var(--blue-one);
}

.page-portfolio > div {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.page-portfolio > div > div {
  min-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: center;
  position: relative;
  padding: 1em 3em;
}
.page-portfolio > div > div > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.page-portfolio > div > div > .arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  --size: 2em;
}
.page-portfolio > div > div > .arrow:first-of-type {
  left: 0.5em;
  border-top: calc(var(--size) / 2) solid transparent;
  border-bottom: calc(var(--size) / 2) solid transparent;
  border-right: calc(var(--size) / var(--sqrt2)) solid red;
}
.page-portfolio > div > div > .arrow:last-of-type {
  right: 0.5em;
  border-top: calc(var(--size) / 2) solid transparent;
  border-bottom: calc(var(--size) / 2) solid transparent;
  border-left: calc(var(--size) / var(--sqrt2)) solid red;
}
.page-portfolio > div > div > .arrow:not([href]) {
  display: none;
}
.page-portfolio > div > .title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-portfolio > div > .title > div > h1 {
  font-size: 5rem;
  margin: 0;
}
.page-portfolio > div > .title > div > p {
  margin: 0;
  text-align: center;
  max-width: 100ch;
}
.page-portfolio > div > .projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40ch);
  justify-content: space-around;
  align-content: stretch;
  gap: 2em;
}
.page-portfolio > div > .projects > div > div {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  align-content: center;
}
.page-portfolio > div > .projects > div > div > div {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  position: relative;
  --border: 0.1em;
  border: var(--border) solid var(--mid);
  height: max-content;
}
.page-portfolio > div > .projects > div > div > div > h1 {
  margin: 0.5em 0.5em 0;
}
.page-portfolio > div > .projects > div > div > div > ul {
  margin: 0 1em 0.5em;
  padding: 0;
  list-style: none;
}
.page-portfolio > div > .projects > div > div > div > img {
  width: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.page-portfolio > div > .projects > div > div > div::before {
  content: "";
  position: absolute;
  width: calc(100% + var(--border) * 2);
  height: 0.4em;
  background: var(--gradient);
  top: calc(-1 * var(--border));
  left: calc(-1 * var(--border));
}
.page-portfolio > div > .languages > div, .page-portfolio > div > .other > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em 1em;
}
.page-portfolio > div > .languages > div > div, .page-portfolio > div > .other > div > div {
  position: relative;
  flex: 0 1;
  min-width: 35ch;
  --border: 0.1em;
  border: var(--border) solid var(--mid);
}
.page-portfolio > div > .languages > div > div > h2, .page-portfolio > div > .other > div > div > h2 {
  text-align: center;
}
.page-portfolio > div > .languages > div > div > img, .page-portfolio > div > .other > div > div > img {
  width: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.page-portfolio > div > .languages > div > div::before, .page-portfolio > div > .other > div > div::before {
  content: "";
  position: absolute;
  width: calc(100% + var(--border) * 2);
  height: 0.4em;
  background: var(--gradient);
  top: calc(-1 * var(--border));
  left: calc(-1 * var(--border));
}
.page-portfolio > div > .experience > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
.page-portfolio > div > .experience > div > img {
  justify-self: right;
  height: auto;
  border-radius: 1em;
}
.page-portfolio > div > .experience > div > div {
  justify-self: left;
  width: 100%;
  max-width: 100ch;
}
.page-portfolio > div > .experience > div > .separator {
  max-width: none;
  grid-column: span 2;
  min-height: 0.4em;
  background: var(--gradient);
}
.page-portfolio > div > .awards > div {
  display: grid;
  place-items: center;
}
.page-portfolio > div > .awards > div > div {
  display: grid;
  grid-template-columns: auto 0.2em auto;
  grid-template-rows: repeat(var(--rows, 1), auto) [row-end];
  column-gap: 1em;
}
.page-portfolio > div > .awards > div > div > div {
  grid-column: 2/3;
  grid-row: 1/row-end;
  height: auto;
  width: 100%;
  background: var(--gradient-v);
  border-radius: 100vmax;
}
.page-portfolio > div > .awards > div > div > p:nth-of-type(odd) {
  text-align: right;
}
.page-portfolio > div > .media > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
