@import url("https://evix.org/undo-redo.css");
@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css");

* {
  color: var(--fg);
  font-family: var(--font);
  text-decoration: inherit;
}
:root {
  --dark: #1e1e1e;
  --mid: #2e2e2e;
  --blue-one: #2ac9b6;
  --blue-two: #756ce7;
  --gradient: linear-gradient(90deg, var(--blue-one), var(--blue-two));
  --gradient-v: linear-gradient(180deg, var(--blue-one), var(--blue-two));

  --font: "Fira Sans", sans-serif;
  --mono-font: "Fira Code", monospace;

  --sqrt2: 1.41421356237309504880168872420969807856967187537694807317667973799;

  --bg: var(--dark);
  --fg: white;
  --accent: var(--blue-two)
}
@supports (font-variation-settings: normal) {
  :root {
    --mono-font: "Fira Code VF", monospace;
  }
}
html, body {
  background: var(--bg);
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
}
body {
  display: flex;
  flex-direction: column;
  font-size: min(var(--font-adjust, 1rem), var(--font-percent-adjust, 3vw));
}


.page-card {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 1.5em;
  --font-adjust: 2rem;
  --font-percent-adjust: 7vw;

  > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    width: min(90%, 25ch);
    --bar-height: 0.2em;
    margin-top: var(--bar-height);
    max-height: 5em;
    text-align: center;
    padding: 0.5em;

    --adjust-radius: 0.1em;
    border: var(--adjust-radius) solid var(--mid);

    &::before {
      content: '';
      position: absolute;
      background: var(--gradient);
      width: calc(100% + var(--adjust-radius, 0) * 2);
      height: var(--bar-height);
      left: calc(-1 * var(--adjust-radius, 0));
      top: 0;

      transform: translateY(-100%);
    }
  }

  .title {
    > div:first-of-type {
      font-size: 1.5em;
      --fg: var(--blue-one);
    }
    > div:last-of-type {
      font-size: 0.65em;
    }
  }
}

@media print {
  .page-resume {
    display: block !important;
    background: white !important;
    > div {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
.page-resume {
  display: grid;
  place-items: center;
  background: var(--dark);
  font-size: 1rem;
  > div {
    width: 8.5in;
    height: 11in;
    padding: 1em calc(1in / 3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --bg: white;
    background: var(--bg);
    --fg: var(--dark);
    font-size: 0.84rem;
    font-weight: 300;

    h1, h2 {
      text-align: center;
    }

    h1 {
      font-size: 1.6em;
      font-weight: 300;
      --fg: var(--blue-two);
      text-transform: uppercase;
      line-height: 1.1;
      margin: 0 0 -0.1em;
      letter-spacing: 0.1em;
    }

    .small-line, .large-line {
      width: 100%;
      height: 0.1em;
      background: var(--gradient);
      border-radius: 100vmax;
    }

    .large-line {
      height: 0.2em;
    }

    .contact-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-auto-flow: column;
      align-items: center;
      justify-items: right;
      text-align: right;
      column-gap: 0.5em;
      margin: 0.5em 0 0;

      --img-margin: 0.1em;

      .right {
        justify-self: left;
        text-align: left;
        img {
          margin: 0 var(--img-margin) 0 0;
        }
      }

      img {
        height: 1em;
        width: 1em;
        vertical-align: baseline;
        transform: translateY(0.14em);
        margin: 0 0 0 var(--img-margin);
      }
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
      margin: 0.5em 0 0;
      line-height: 1;
      text-transform: uppercase;
      --fg: var(--blue-two);
      letter-spacing: 0.1em;
    }

    p {
      margin: 0;
      text-align: justify;
    }

    span, .split {
      font-size: 1em;
      font-weight: 400;
      --fg: var(--blue-two);
      margin: 0.4em 0 0.1em;
      line-height: 1;
    }

    .education {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .split {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      list-style: none;
      margin: 0.4em 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li:not(:last-of-type)::after {
        content: '<~>';
        font-family: var(--mono-font);
        color: var(--blue-one);
      }
    }
  }
}

.page-index > div {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;

  > div {
    min-height: 100vh;
    min-width: 100vw;
    scroll-snap-align: center;
    overflow-y: scroll;
    position: relative;

    > .arrow {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      --size: 2em;

      &:first-of-type {
        left: 0.5em;
        border-top: calc(var(--size) / 2) solid transparent;
        border-bottom: calc(var(--size) / 2) solid transparent;
        border-right: calc(var(--size) / var(--sqrt2)) solid red;
      }
      &:last-of-type {
        right: 0.5em;
        border-top: calc(var(--size) / 2) solid transparent;
        border-bottom: calc(var(--size) / 2) solid transparent;
        border-left: calc(var(--size) / var(--sqrt2)) solid red;
      }
      &:not([href]) {
        display: none;
      }
    }
  }

  > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
      font-size: 5rem;
      margin: 0;
    }
    > p {
      margin: 0;
    }
  }

  > .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    > div {
      border: 0.1em solid var(--mid);
      height: max-content;
      > img {
        width: 100%;
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
      }
    }
  }

  > .languages, > .other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    > div {
      height: max-content;
      > h2 {
        text-align: center;
      }
      > img {
        border-radius: 100vmax;
      }
    }
  }

  > .experience {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > div {
      --width: 100ch;
      width: min(var(--width), 100%);
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > div {
        flex-grow: 1;
      }

      > img {
        width: 25%;
        height: auto;
        border-radius: 1em;
      }
    }

    > .separator {
      width: min(calc(var(--width) + 2em), 100%);
      min-height: 0.4em;
      background: var(--gradient);
    }
  }

  > .awards {
    display: grid;
    place-items: center;

    > div {
      display: grid;
      grid-template-columns: auto 0.2em auto;
      grid-template-rows: repeat(var(--rows, 1), auto) [row-end];
      column-gap: 1em;

      > div {
        grid-column: 2 / 3;
        grid-row: 1 / row-end;
        height: auto;
        width: 100%;
        background: var(--gradient-v);
        border-radius: 100vmax;
      }

      > p:nth-of-type(odd) {
        text-align: right;
      }
    }
  }

  > .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
